body{
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans";
}

header {
    text-align: center;
    background-image: url("klimakarte_bild1.jpg");
    background-position: 0 50%;
}

header h2 {
    font-size: 4em;
    color: black;
    margin: 0;
    padding: 1em 0;
}

header h3 {
        font-size: 2em;
        color: blue;
        margin: 0;
        padding: 1em 0;

}

#map {
    height: 360px;
    width: 90%;
    border: 1px solid black;

}

.leaflet-div-icon {
    background: none;
    border: none;
}