body{
    margin: 0;
    padding: 0;
}



#map {
    width: 100vw;
    height: 100vh;
}

.leaflet-div-icon {
    background: none;
    border: none;
}

.temperaturLabel {
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.3em;
    border: 1px solid gray;
    text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px -1px 0 white,
     1px -1px 0 white;
}