body{
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans";
}

header {
    text-align: center;
    background-image: url("salzburg_stadt.jpg");
    background-position: 0 50%;
}

header h2 {
    font-size: 4em;
    color: white;
    margin: 0;
    padding: 1em 0;

}

#map {
    height: 800px;
    width: 90%;
    border: 1px solid black;

}